$primary-color: #f2f2f2;
$secondary-color: #45e2b6;
$basic-color: #808080;

.Info-section {
  margin: 30px 0 0 62.5%;
  padding: 20px;
  width: 320px;
  line-height: 2.4rem;
  box-shadow:  $primary-color 0 7px 29px 0;

  .main-Info {
    display: flex;
    justify-content: space-between;

    .person-Info {
      color: $secondary-color;
      font-weight: bold;
    }

    .text-private {
      color: $basic-color;
    }
          .button-editing{
            color: $basic-color;
          }
    .button-editing::before {
      content: url(../assets/edit-icon.png);
    }
  }
 
  .main-work {
    padding: 20px;

    .user-logo::before {
      content: url(../assets/user.png);
    }

    .hyphens {
      margin: 5px;
    }

    .hyphen {
      margin: 2.2rem;
    }

    .user-email::before {
      content: url(../assets/home.png);
      margin: 5px;
    }

    .user-phone::before {
      content: url(../assets/home.png);
      margin: 5px;
    }

    .user-house::before {
      content: url(../assets/home.png);
      margin: 5px;
    }
    .account-details{
      color: $basic-color;
    }
    .bank-details::before {
      content: url(../assets/home.png);
      margin: 5px;
    }
  }
}