$primary-color: #f2f2f2;
$secondary-color: #45e2b6;
$main-color: #000000;
$basic-color: #808080;

.Info-section {
  margin: 50px 0 0 56.5%;
  padding: 25px;
  width: 380px;
  line-height: 2.6rem;
  box-shadow: 2px 2px 4px 4px $primary-color;

  .main-Info {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;

    .person-Info {
      color: $secondary-color;
    }

    .text-private {
      color: $main-color;
    }

    .button-editing::before {
      content: url(../assets/edit-icon.png);
    }
  }

  .main-work {
    padding: 20px;

    .user-logo::before {
      content: url(../assets/user.png);
    }

    .hyphens {
      margin: 5px;
    }

    .hyphen {
      margin: 2.2rem;
    }

    .user-email::before {
      content: url(../assets/home.png);
      margin: 5px;
    }

    .user-phone::before {
      content: url(../assets/home.png);
      margin: 5px;
    }

    .user-house::before {
      content: url(../assets/home.png);
      margin: 5px;
    }
    .account-details{
      color: $basic-color;
    }
    .bank-details::before {
      content: url(../assets/home.png);
      margin: 5px;
    } 
  }
}