 $primary-color: #ffffff;

.main-container {
  display: flex;
  justify-content: space-between ;

  .main-logo {
    margin: 0 20px;
  }

  nav {
    ul {    
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 24px;
        font-size: 20px;
        cursor: pointer;
      }

      .list-item {
        color: #45E2B6;
      }

      .user-main {
        background-color: #00907E;
        color: $primary-color;
        margin: 20px 20px 0 20px;
        height: 40px;
        width: 40px;
        text-align: center;
        font-size: 2rem;
        border-radius: 5px;
      }
    }

    .logout-button {
      float: right;
      padding: 1rem 5rem;
      margin-right: 20px;
      border: none;
      border-radius: 7px;
      box-shadow: #dedee4 0px 7px 29px 0px;
      background-color: $primary-color;
    }
  }
}