.main-container {
  display: flex;
  justify-content: space-between;

  .main-logo {
    width: 10%;
    margin: 10px;
    padding: 10px;
  }

  nav {
    ul {
      li {
        display: inline-block;
        padding: 0 24px;
        font-size: 20px;
        margin: 15px;
        cursor: pointer;
      }

      .list-item {
        color: #45E2B6;
      }

      .list-styling {
        background-color: #00907E;
        color: white;
        margin: 20px;
        padding: 15px;
        margin-bottom: 0;
        height: 40px;
        width: 40px;
        text-align: center;
        font-size: 2rem;
        border-radius: 5px;
      }
    }

    .logout-button {
      float: right;
      margin-right: 20px;
      border-radius: 5px;
      height: 30px;
      width: 170px;
      padding: 7px;
      box-shadow: #dedee4 0px 7px 29px 0px;
      border: #ffffff;
      background-color: #ffffff;
    }
  }
}