$primary-color: #F2F2F2;
$secondary-color: #ffffff;
$basic-color:  #45E2B6; 
$main-color: #808080;
$green-color: #00907E;

.profile-section {
    float: left;
    line-height: 2rem;
    margin: 80px 0 0 300px;
    box-shadow: $primary-color 0px 7px 29px 0px;
    background-color: $secondary-color;
    padding: 3rem;  

    .Profile-page {
        display: flex; 
        .main-logo {
            color: $secondary-color;
            background: $green-color;
            border-radius: 10px;
            font-size: 7rem;
            font-weight: 500px;
            height: 170px;
            width: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .user-details { 
            margin: 10px 0 0 44px;
            font-size: 1.1rem;
            line-height: 1.7rem;

            .user-name {
                color: $basic-color;
                padding-right: 14px;
            }

            .Image-section {
                display: flex;
                margin: 15px;
            }

            .main-icons {
                height: 20px;
                width: 20px;
                margin: 5px 5px 0 0 ; 
            }            
        }

        .text-editors {
            margin: 10px 0 0 400px;
        }

        .text-editors::before {
            content: url(../assets/edit-icon.png);
        }
    }

    .text-editor {
        float: right;
        margin: 52px 12px 0 0 ;
    }
 
    .text-editor::before {
        content: url(../assets/edit-icon.png);
        margin: 5px 0 30px 0;
    }

    .user-introduction {
        .user-Intro {
            border-bottom: 1px solid $basic-color;
            font-size: 1.1rem;
            padding: 16px 0;
        }

        .paragraph-editing {
            color: $main-color;
        }
    }

    .Add-icon {
        float: right;
        margin: 35px 12px 0 0 ;
    }

    .Add-icon::before {
        content: url(../assets//Addition.png);
        margin: 5px;
    }

    .user-history {
        border-bottom: 1px solid $basic-color;
        font-size: 1.1rem;
        padding: 16px 0;
    }
}