 .profile-section {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 .profile-border{
     border: 3px solid #d0d0d0;
     padding: 4rem;
 }
 .Profile-page {
     display: flex;
 }
 .Nlogo {
     margin: 20px;
     height: 22%;
     width: 22%;
     display: flex;
     justify-content: left;
 }
 .user-detail {
     text-align: center;
     margin-top: 30px;
     line-height: 2;
     margin-left: 44px;
 }
.user-name {
     color: #00ffff;
     margin-right: 14px;
 }
 .location-detail::before{
      content: url(../Logos/location.png);
 }
 .occupation-detail::before{
     content: url(../Logos//occupation.png);
 }
 .edit-text {
     margin: 20px;
     margin-left: 260px;
 }
 .edit-text::before {
     content: url(../Logos/edit-icon.png);
 }
.user-introduction {
     margin: 30px;
 }
 .user-intro {
     border-bottom: 1px solid #00ffff;
     padding-bottom: 12px;
 }
 .user-intro:after {
     content: url(../Logos/Addition.png);
     margin-left: 670px;
     display: inline-block;
 }
.user-Selfintro {
     border-bottom: 1px solid #00ffff;
     padding-bottom: 12px;
 }
.user-Selfintro:after {
     content: url(../Logos/edit-icon.png);
     margin-left: 620px;
     display: inline-block;
 }
 .self-edit {
     float: right;
     margin-top: 50px;
 }